*/*/FixedOrderAnalysis/
*/*/HTML/
*/*/MCatNLO/
*/*/MGMEVersion.txt
*/*/README
*/*/Source/
*/*/SubProcesses/
*/*/TemplateVersion.txt
*/*/Utilities/
*/*/amcatnlo.tar.gz
*/*/bin/
*/*/check_poles_input.txt
*/*/crossx.html
*/*/index.html
*/*/lib/
*/*/makefile
*/*/test_ME_input.txt
*/additional_command
*/py.py
